<div class="bandeau-top">

    <h1 class="front-title">The Right Corner</h1>
    <a class="btn" href="{{ path('index') }}"><i class="material-icons bandeau-icon">home</i></a>
    <a class="btn" href="{{ path('login') }}"><i class="material-icons bandeau-icon">account_circle</i></a>
    <div class="div-image"></div>
</div>