{% extends 'base.html.twig' %}

{% block body %}
    {% include 'headers/_bandeau_out.html.twig' %}
    <br>
    <br>
    <div class="delete">
        <h3> Etes-vous sûr de vouloir supprimer l'utilisateur : {{ member.login }} ainsi que toutes ses annonces ?</h3>
        <br>
        <br>
        {{ form_start(form) }}
        <input class="btn btn-orange" type="submit" value="Supprimer cet utilisateur"/>
        {{ form_end(form) }}
    </div>


{% endblock %}