{% extends 'base.html.twig' %}
{% block body %}
    {% include 'headers/_bandeau_out.html.twig' %}
    <br>
    <br>
    <div class="registration">
        <h1>Edition d'un utilisateur</h1>
        {% include 'admin/member/partial/_form.html.twig' %}
    </div>
{% endblock %}