{% extends 'base.html.twig' %}
{% block body %}
    {% include 'headers/_bandeau_out.html.twig' %}
    <br>
    <br>
    <br>
    <br>
    <div class="index-admin">
        <h1>Bienvenue sur The Right Corner !</h1>
        <p>Vous êtes connecté en tant qu'administrateur.</p>
        <p>Grâce au <strong>menu déroulant en haut à gauche</strong>, vous allez pouvoir naviguer et gérer les annonces publiées sur le site ainsi que les utilisateurs.</p>
        <p>A vous de jouer !</p>
    </div>



{% endblock %}