{% extends 'base.html.twig' %}
{% block body %}
    {% include 'headers/_bandeau_out.html.twig' %}
    <br>
    <br>
    <div class="registration">
        <h1>Modification de mon compte</h1>
        <div class="form-group">
            {{ form_start(form) }}
            {{ form_rest(form) }}
        </div>
        <br>
        <input class="btn btn-orange" type="submit" value="Valider"/>
        {{ form_end(form) }}
    </div>

{% endblock %}
